# 9806 is the lit-redux-consumer repo
# @scdh:registry=https://zivgitlab.uni-muenster.de/api/v4/projects/9806/packages/npm/
# 20204 is the group ID of SCDH/frontend-components
@scdh:registry=https://zivgitlab.uni-muenster.de/api/v4/groups/20204/packages/npm/
# //zivgitlab.uni-muenster.de/api/v4/packages/npm/:_authToken=YOUR_API_READ_TOKEN
